// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*
 main theme scss
*/

body {
  color: #444;
}

.back-button {
  display: none !important;
}

.global-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 1;

  .-profile {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .-username {
    font-size: 14px;
  }
}

.btn {
  display: block;
  margin-top: 15px;
  color: #444;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 6px;

  &:first-child {
    margin-top: 0;
  }
  &.-profile {
    width: 150px;
    margin-top: 0;
    background: #007aff;
    line-height: 1.7;
    &.activated {
      background: #1569ff;
      box-shadow: 0 0 2px 0 rgba(33,33,33,.3) inset;
    }
  }

  &.-general {
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border: #ccc 1px solid;
    &.activated {
      background: #e5e5e5;
      border-color: #a2a2a2;
    }
  }

  &.-add {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(66,66,66,.25);
    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url("/assets/icon/upload.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.activated {
      background: #e5e5e5;
      box-shadow: 0 0 1px 0 rgba(66,66,66,.15);
    }
  }

  &.-submit {
    width: 100%;
    padding: 15px;
    background: #2ec95c;
    border: #ccc 1px solid;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    &.activated {
      background: #21b94e;
      border-color: #a2a2a2;
    }
  }
}

.ttl {
  &.-primary {
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 5px 0 0 40px;
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 1.6;
    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 12px;
      left: 5px;
      border: 4px solid #98c93c;
      border-radius: 50%;
    }
  }
  &.-secondary {
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    position: relative;
    &:after {
      content: "";
      display: block;
      line-height: 0;
      overflow: hidden;
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 20%;
      border-bottom: 2px solid #98c93c;
    }
  }

  &.-battle {
    position: relative;
    margin: 15px auto 10px;
    width: 60vw;
    max-width: 200px;
    background: #f30d0d;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    &:before,
    &:after {
      border: none;
      border-bottom: solid 15px transparent;
      content: '';
      position: absolute;
      top: 0;
    }
    &:before {
      border-color: transparent transparent transparent #fff;
      border-style: solid;
      border-width: 15px 0 15px 12px;
      left: 0;
    }
    &:after {
      border-color: transparent #fff transparent transparent;
      border-style: solid;
      border-width: 15px 12px 15px 0;
      right: 0;
    }
  }
}


.thumb-list {
  .item {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid #ccc;
    &.activated {
      background: #e5e5e5;
      border-color: #a2a2a2;
    }

    &:not(:first-child) {
      border-top: none;
    }

    > img {
      max-width: 80px;
      max-height: 80px;
      width: 100%;
      height: 100%;
    }
    > dl {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0 5px 0 15px;
      > dt {
        font-size: 14px;
      }
      > dd {
        overflow: hidden;
        > p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          white-space: normal;
          font-size: 12px;
          color: #666;
        }

      }
    }
  }
}

.input-items {
  margin-top: 15px;
  > input, textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(66,66,66,.25) inset;
    border: 1px solid rgba(44,44,44,.25);
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    line-height: 1.4;
    &::placeholder, &:-moz-placeholder, &::-webkit-input-placeholder {
      opacity: 1;
      color: #666;
    }
  }
  > textarea {
    height: 120px;
  }

  .img-liquid {
    width: 100%;
    max-height: 95vw;
  }
}

.main-visual {
  width: 100%;
  max-height: 70vw;
  text-align: center;
}

/*
inspection
 */
.point-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  .point-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 10px;
    &:first-child {
      border-right: 1px solid rgba(66,66,66,.3);
    }
    .point {
      font-size: 16px;
    }
    .point-image {
      width:100%;
      max-height: 45vw;
    }
  }

  .battle-anim {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    display: inline-block;
    width: 64px;
    height: 64px;
    background-image: url("/assets/icon/battle.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    animation: bomb .5s linear 1.5s infinite alternate;
    z-index: 10;
  }
}

@keyframes bomb {
  from { transform: scale(1) }
  to   { transform: scale(.6); }
}

